@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
    box-sizing: border-box
}

html {
    color: #333;
    font-family: TeXGyreHeros
}

body {
    margin: 0;
    padding: 0
}

a {
    color: #337ab7;
    text-decoration: none
}

a:focus,
a:hover {
    text-decoration: underline
}

abbr:hover,
acronym:hover {
    cursor: help
}

kbd {
    background-color: #333;
    color: #fff
}

code,
kbd {
    border-radius: .2em;
    font-size: .9em;
    padding: .1em .2em
}

code {
    background-color: #f9f2f4;
    color: #c7254e
}

sub,
sup {
    font-size: 75%
}

blockquote {
    border-left: 5px solid #eee;
    margin-left: 0;
    margin-right: 0;
    padding: .5em 1.5em
}

blockquote>p {
    margin: 0
}

dt {
    font-weight: 700
}

[dir=ltr] dd {
    margin-left: 0
}

[dir=rtl] dd {
    margin-right: 0
}

address {
    font-style: normal
}

pre {
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: .3em;
    display: block;
    line-height: 1.6em;
    padding: 1.5em;
    word-break: break-all
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

legend {
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 1em;
    width: 100%
}

label {
    font-weight: 700
}

button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
    cursor: pointer
}

:root {
    --soft-blue: #8bacda;
    --cyan: #00fff7;
    --main-bg: #0d192b;
    --card-bg: #14253d;
    --line-color: #2f415b;
    --white: #fff;
    --img-width: calc(16.85rem + 2.25vw);
    --gap-12-16: calc(10.59155px + 0.37559vw);
    --gap-16-24: calc(13.1831px + 0.75117vw);
    --gap-24-32: calc(21.1831px + 0.75117vw)
}

body,
html {
    background: #0d192b;
    background: var(--main-bg);
    color: #8bacda;
    color: var(--soft-blue);
    font-family: Outfit, sans-serif;
    height: 100%
}

body {
    align-content: center;
    display: grid;
    justify-content: center;
    place-content: center
}

main {
    background: #14253d;
    background: var(--card-bg);
    padding: 24px 24px 0;
    width: calc(318.90141px + 2.15962vw)
}

img {
    border-radius: 8px;
    width: calc(16.85rem + 2.25vw);
    width: var(--img-width)
}

.card__image,
img {
    position: relative
}

.card__image {
    line-height: 0
}

.card__image:before {
    background-color: rgba(0, 255, 247, .5);
    background-image: url(images/icon-view.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 48px 48px;
    content: "";
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: all 1s ease 0s;
    width: 100%;
    z-index: 1
}

.card__image:hover:before {
    cursor: pointer;
    opacity: 1
}

.card__title {
    color: #fff;
    color: var(--white);
    font-size: 22px;
    margin: 24px 0 calc(10.59155px + .37559vw);
    margin: 24px 0 var(--gap-12-16)
}

.card__content {
    font-size: 18px;
    line-height: 26px;
    margin: calc(10.59155px + .37559vw) 0 calc(13.1831px + .75117vw);
    margin: var(--gap-12-16) 0 var(--gap-16-24)
}

.card__caption {
    font-size: 16px
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: calc(13.1831px + .75117vw) 0;
    margin: var(--gap-16-24) 0;
    padding: 0
}

.eth {
    color: #00fff7;
    color: var(--cyan);
    font-weight: 700;
    position: relative
}

.eth:before {
    background: url(images/icon-ethereum.svg);
    height: 18px;
    margin-right: 6.48px;
    width: 11px
}

.eth:before,
.time:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 2px
}

.time:before {
    background: url(images/icon-clock.svg);
    height: 16px;
    margin-right: 7.7px;
    width: 16px
}

hr {
    border: 1px solid #2f415b;
    border: 1px solid var(--line-color);
    margin: calc(13.1831px + .75117vw) 0 16px;
    margin: var(--gap-16-24) 0 16px
}

.creator {
    margin: 16px 0 calc(21.1831px + .75117vw);
    margin: 16px 0 var(--gap-24-32)
}

.creator>a {
    color: #fff;
    color: var(--white)
}

.creator:before {
    background: url(images/image-avatar.png);
    background-size: contain;
    border: 1px solid #fff;
    border-radius: 100%;
    content: " ";
    display: inline-block;
    height: 33px;
    margin-right: 16px;
    position: relative;
    vertical-align: middle;
    width: 33px
}

.hover_effect:hover {
    color: #00fff7;
    color: var(--cyan);
    cursor: pointer;
    text-decoration: none;
    transition: all 1s ease 0s
}

@media (max-width:414px) {
    .card__caption {
        font-size: 15px
    }

    .cyan {
        font-weight: 600
    }
}

.attribution {
    bottom: 20px;
    font-size: 11px;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translateX(-50%)
}

.attribution p {
    color: #fff;
    color: var(--white);
    display: inline-block;
    margin: 0;
    padding: 0
}

.attribution a {
    color: #8bacda;
    color: var(--soft-blue)
}